{% extends "base_generic.html" %}

{% block content %}

<h2>Catalogo</h2>

<ul>
{% for product in object_list %}
    <li><a href="{% url 'product_show' product_id=product.id %}">{{ product.nome }}</a> - {{ product.prezzo }} €
    <a href="{% url 'product_edit' product.id %}">Modifica</a> <a href="{% url 'product_delete' product.id %}">Elimina</a></li>
{% empty %}
    <li>Nessun prodotto in catologo, ci dispiace.</li>
{% endfor %}
</ul>
<a href="{% url 'product_new' %}">Aggiungi nuovo Prodotto</a>


{% endblock %}
